* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  max-width: 269px;
  margin: auto; /*div по центру*/
  box-shadow: 0px 0px 15px rgba(128, 127, 127, 0.3);
  border-radius: 10px;
  background: #f5f5f5;
}

.header {
  color: white;
  padding: 47px 8px;
  background: url("../img/header.png") no-repeat center / cover;
}

.hello {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}

.hello-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
