* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  max-width: 269px;
  margin: auto; /*div по центру*/
  box-shadow: 0px 0px 15px rgba(128, 127, 127, 0.3);
  border-radius: 10px;
  background: #f5f5f5;
  overflow: hidden;
}

.container {
  max-width: 236px;
  margin: auto;
}

.header {
  color: white;
  padding: 47px 8px;
  background: url("../img/header.png") no-repeat center / cover;
}

.header-text {
  text-align: center;
}

.hello {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}

.hello-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.user {
  text-align: center;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
}

.user-avatar {
  text-align: left;
  margin-top: -15px;
  object-fit: cover;
}

.user-photo {
  margin-top: -30px;
  margin-left: 15px;
}

.user-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 5px;
}

.user-description {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 0;
}
